node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
veda
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
*.iml
.gradle
local.properties
/build
/captures
.externalNativeBuild
.cxx
.expo-shared/
web-build/

# dotenv environment variables files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
